@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
* {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background: black;
  color: white;
}

.active {
  border-bottom: 2px solid white;
}

.hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(to right, #8338ea, #50dfb4);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}
.hover:hover:before {
  opacity: 1;
}

.spiral-div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#first {
  border: 2px dashed #50dfb4;
  animation: spiral 30s infinite linear;
}
#second {
  border: 2px dashed #8338ea;
  animation: spiral2 30s infinite linear;
}

@keyframes spiral {
  0% {
    transform: rotate(360deg);
  }
  100% {
    border-width: 2px;
    /* border-width: 20px; */
  }
}
@keyframes spiral2 {
  0% {
    border-width: 2px;
  }
  100% {
    transform: rotate(360deg);
  }
}
